<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.ijusthaveto.exam.mapper.StudentexamMapper">

    <resultMap id="BaseResultMap" type="me.ijusthaveto.exam.domain.Studentexam">
            <id property="studentExamId" column="studentExamId" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="INTEGER"/>
            <result property="examId" column="examId" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="OTHER"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        studentExamId,userId,examId,
        status,score
    </sql>
</mapper>
