<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.ijusthaveto.exam.mapper.TaskMapper">

    <resultMap id="BaseResultMap" type="me.ijusthaveto.exam.domain.Task">
            <id property="taskId" column="taskId" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="INTEGER"/>
            <result property="examId" column="examId" jdbcType="INTEGER"/>
            <result property="score" column="score" jdbcType="DOUBLE"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        taskId,userId,examId,
        score,status
    </sql>
</mapper>
